@page
@model Sklep3.Pages.Pracownik.IndexModel
@{
}

<br />
<h2>Wybierz widok</h2>
<a class="btn btn-primary btn-sm" href="/Pracownik/Produkty">Lista produktów</a>
<a class="btn btn-primary btn-sm" href="/Pracownik/Zamowienia">Lista zamówień</a>
